#ct-skills {
    background: grey;
    width: 100%;
    text-align: center;
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-size: 24px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid blue;
}

#skills-circles {
    display: flex;
    border: 1px solid yellow;
    float: none;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
}

.ct-circle {
    min-height: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 20px;
}

.circle {
    min-height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
}