/* html {
	scroll-behavior: smooth;
} */


#navtext {
	color: rgb(32, 209, 32);
	margin-left: 100px;
	font-size: 2rem;
}

.navbarbox {
	width: 100%;
	border: 1px solid white;
	flex-wrap: nowrap;
}

.formbox {
	display: flex;
	/* border: 1px solid yellow; */
	float: none;
	margin: 0 auto;
	flex-wrap: wrap;
	/* padding: 20px; */
	align-items: center;

}

.searchthing {

	border: 1px solid yellow;
	background: gray;
	width: 50px;
	height: 50px;
}


.formitems {
	width: 150px;
	height: 50px;
	margin: 0 50px;
}

/* .formcontrols {
	width: 150px;
	height: 50px;
} */

.overflowY {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 800px;
}

.directionscroll {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 600px;
}

.block label {
	display: inline-block;
	width: 120px;
	text-align: left;
}

.page-holder {
	min-height: 100vh;
}

.bg-cover {
	background-size: cover !important;
}


#map {
	height: 400px;
	width: 400px;
}

#travelMode {
	margin-bottom: 10px;
}

#map-card {
	display: none;
	position: relative;
	/*margin-top: 100px;*/
	/* top: 0; */
	/*width: 445px;*/
	min-width: 445px;
	width: 100%;
}

#from,
#to {
	border-radius: 4px;
}

nav {
	font-family: 'Montserrat', sans-serif;
}

#search-box {
	border-radius: 10px;
	opacity: 0.9;
	font-family: 'Montserrat', sans-serif;
}

#search-container {
	max-width: 600px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#right-panel {
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
	top: 0;
	right: 0;
}


#right-panel select,
#right-panel input {
	font-size: 15px;
}

#right-panel select {
	width: 100%;
}

#right-panel i {
	font-size: 12px;
}



#map {
	margin-right: 10px;
}

#floating-panel {
	background: #fff;
	padding: 5px;
	font-size: 14px;
	font-family: Arial;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
	/* display: none; */
}



/* 
@media (max-width: 768px) and (min-width: 577px) {
    .main-image-container {
        display: none;
    }

    #map {
        display: none;
    }
} */

@media (max-width: 768px) and (min-width: 576px) {
	.formitems {
		width: 100px;
		height: 50px;
		margin: 0 50px;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	#right-panel {
		position: static;
		display: block;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	#right-panel {
		position: static;
		display: block;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

desktop - directions is at the bottom - mobile it looks right we dont want the card width to expand to 960 if we are mobile